@import '../Base.scss';
*{

    background-color: $black-secondary;
}
.LogIN{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 20%;
    
     background-color: $black-primary;   
    button{
        
        background-color: transparent !important;
        color: white;
        display: flex;
        align-items: center;
        border: 2px solid rgb(35, 206, 134);
        outline: none;
        margin-left: 40%;
        &:hover{
            background-color: rgba(136, 240, 158, 0.767);
        }
    }
    p{

        text-align: center;
        font-weight: bold;
        color: $text-color;
    }
    
}
.LogIn__Image{
    width: 150px;
    height: 150px;
    place-items: center;
    object-fit: contain;
    margin-left: 40%;
}